<h1><%= @trip.title %></h1>
<p>Submited By </p>



<%= link_to "Back", root_path %>
<%= link_to "Edit", edit_trip_path %>
<%= link_to "Delete", trip_path, method: :delete, data: {confirm: 'Are you sure?'} %>

